@model LiteCommerce.DomainModel.UserAccount
@{
    WebUserData userData = User.GetUserData();
    
    
}


    <div class="box box-primary">
       
  
            <div class="box-body" align="center">

                <form action="~/Account/ChangePassword" method="post" role="form">
                    <div class="form-group">


                        <div class="input-group">
                            <input type="hidden" class="form-control" name="UserID" placeholder="Enter your password..." value="@userData.UserID" required>
                        </div>
                    </div>
                    @Html.ValidationSummary("", new { @class= "text-danger"})
                    <div class="form-group">
                        <label style="margin-left: -80px">Old password:</label>

                        <div class="input-group">
                            <input type="password" class="form-control" name="Password" placeholder="Enter your password..." required>
                        </div>
                    </div>


                    <div class="form-group">


                        <label style="margin-left: -80px">New password:</label>

                        <div class="input-group">
                            <input type="password" class="form-control" name="NewPassword" placeholder="Enter your new password..." required>
                        </div>

                    </div>
                    <div class="form-group">


                        <label style="margin-left: -50px">Enter the password:</label>

                        <div class="input-group">

                            <input type="password" class="form-control" name="ReNewPassword" placeholder="Re Enter your new password..." required>
                        </div>

                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-primary "></i>Change Password</button>
                        <a href="~/Account" type="button" class="btn btn-danger ">Cancel</a>
                    </div>
                </form>
            </div>



        </div>